@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --amarillo: #FEDD62;
    --naranja: #F48B48;
    --marron: #664731;
    --rojo: #f01515;
    --negro: #000000;
    --rosa: #dc8998;
    --azul: #3533cd;
    --verde: #7ed957;
    --blanco: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

h1 {
    color: var(--negro);
    padding-left: 20px;
    font-size: 35px;
    margin-bottom: 20px;
}

h2 {
    color: var(--negro);
    padding-left: 20px;
    font-size: 30px;
}

h3 {
    color: var(--negro);
    padding: 5px 10%;
    font-size: 25px;
}

body {
    background-color: var(--amarillo);
    font-family: 'Nunito', sans-serif;
    color: var(--negro);
}

/*  header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
    border-bottom: none;
    z-index: 100;
}  */

/*sobre nosotros*/
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--naranja);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);
    text-align: center;
}

#tienda {
    display: flex;
    width: 60%;
    margin: 3rem auto 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.293);
}

/*logo*/
/*.logo {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 5px 10%;
    cursor: default;
    background-color: #FEDD62;
}*/
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-top: 4px;
}

.logo_About {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logo img {
    max-height: 100px;
    /* Ajusta esta altura según necesites */
    height: 100%;
    /* Asegura que la imagen ocupe el 100% del alto del enlace */
    object-fit: contain;
    /* Asegura que la imagen se ajuste dentro del contenedor sin distorsionarse */
}

.stylishstepsImages {
    justify-content: center;
    position: relative;
    width: 100vw;
    object-fit: cover;
    /* padding: 10px 20px; */
}

.cart-icon {
    position: absolute;
    right: 1rem;
    color: #664731;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    /* flex: 1; */
    padding: 0.5rem;
}

.search-container form {
    display: flex;
    align-items: center;
    height: 100%;
}

.search-container input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
    outline: none;
    height: 100%;
}

.search-container button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 50px 50px 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    height: 100%;
}

.search-container button:hover {
    background-color: #555;
    height: 100%;
}

/*barra de navegacion*/
nav {
    background-color: var(--naranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 10%;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}

nav ul li a {
    font-weight: 700;
    font-size: 20px;
    color: var(--marron);
    text-decoration: none;
}

.btn button {
    font-weight: 700;
    color: var(--marron);
    padding: 5px 25px;
    background: rgb(249, 245, 6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*carrusel*/
.carousel {
    position: relative;
    width: 100%;
    height: 55vw;
    overflow: hidden;
    display: block;
}

.carousel-image {
    justify-content: center;
    position: absolute;
    width: 100vw;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    padding: 10px 20px;
}

.carousel-image:not(:first-child) {
    opacity: 0;
}

.carousel {
    background-color: var(--amarillo);
}

/*Secciones*/
.article {
    margin: 0px;
    width: 100%;
    background-color: var(--amarillo);
    text-align: center;
}

.p {
    text-align: center;
    line-height: 1.5;
}

.seccionMujer {
    background-color: var(--rosa);
    padding: 3em;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 20px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);
}

.seccionHombre {
    background-color: var(--azul);
    padding: 3em;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 20px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);
}

.seccionNiños {
    background-color: var(--verde);
    margin: 20px 5px;
    padding: 3em;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);
}

.card {
    width: 270px;
    height: 323px;
    background-color: #dbc5bd;
    border-radius: 16px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.imgcard {
    height: 200px;
    width: 237px;
    flex: 1 1 auto;
    margin: 1em;
    overflow: hidden;
    border-radius: 16px;
}

/*formularos*/
.formularios {
    display: grid;
    background-color: var(--amarillo);
}

/*Login*/
#login {
    background-color: #f8f9fa;
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 30px 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);
}

/*Registro*/
#registro {
    margin: 30px 300px;
    background-color: #f8f9fa;
    padding: 80px 200px;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);

}

/*footer*/
footer {
    display: flex;
    text-align: center;
    background-color: var(--naranja);
    display: flex;
    justify-content: space-around;
    height: 150px;
    padding: 5px 10%;
}

footer a {
    align-items: center;
    padding: 0;
    margin-left: 4%;
    margin-right: 4%;
    list-style: none;
    display: flex;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 100;

}

.fab {

    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
}

.textoValidacion {
    margin-top: 10px;
    color: var(--naranja);

}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 25px;
    }

    footer a {
        font-size: 15px;
    }

    nav ul li a {
        font-weight: 800;
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    footer a {
        font-size: 10px;
    }

    nav ul li a {
        font-weight: 700;
        font-size: 15px;
    }

    .btn button {
        font-weight: 700;
        padding: 5px 25px;
        font-size: 12px;
    }
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    padding: 2rem;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
}

.producto h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0.5rem 0;
}

.producto .descripcion {
    font-size: 1rem;
    color: #666;
    padding: 0 1rem;
}

.producto .precio {
    font-size: 1.2rem;
    color: #e74c3c;
    margin: 0.5rem 0;
}

.producto .comprar {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto .comprar:hover {
    background-color: #2980b9;
}

.slider {
    position: relative;
    width: 40%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--naranja);
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 2; */

}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.slide p {
    margin: 0;
    /* font-size: 24px; */
    color: #333;
    font-size: calc(var(--base-font-size) + 1vw);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: transparent;
    color: #000000;
}